## 294 - Which Sounding Archive to Use?

[Youtube](https://www.youtube.com/watch?v=5QvymBvoeTY)

In [1]:
from datetime import datetime, timedelta
from siphon.simplewebservice.igra2 import IGRAUpperAir
from siphon.simplewebservice.iastate import IAStateUpperAir
from siphon.simplewebservice.wyoming import WyomingUpperAir

In [2]:
date = datetime(2023, 7, 20, 12)

In [3]:
station = 'OUN'

# Wyoming

In [4]:
df_wyoming = WyomingUpperAir.request_data(date, station)

C:\Users\jleeman\miniconda3\envs\daily\lib\site-packages\siphon\simplewebservice\wyoming.py:108: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.units = {'pressure': 'hPa',

In [5]:
df_wyoming.head()

   pressure  height  temperature  dewpoint  direction  ...                time  latitude  longitude elevation     pw
0     976.0     345         25.2      20.3      140.0  ... 2023-07-20 12:00:00     35.18     -97.44     345.0  39.19
1     969.0     409         26.8      17.8      175.0  ... 2023-07-20 12:00:00     35.18     -97.44     345.0  39.19
2     959.0     501         26.9      17.3      225.0  ... 2023-07-20 12:00:00     35.18     -97.44     345.0  39.19
3     932.0     754         27.3      15.8      215.0  ... 2023-07-20 12:00:00     35.18     -97.44     345.0  39.19
4     925.0     821         27.4      15.4      220.0  ... 2023-07-20 12:00:00     35.18     -97.44     345.0  39.19

[5 rows x 15 columns]

# IA State

In [6]:
df_ia = IAStateUpperAir.request_data(date, station)

C:\Users\jleeman\miniconda3\envs\daily\lib\site-packages\siphon\simplewebservice\iastate.py:137: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.units = {'pressure': 'hPa',

In [7]:
df_ia.head()

   pressure  height  temperature  dewpoint  direction  speed station                time     u_wind     v_wind
0     976.0   362.0         25.2      20.3      140.0    3.0    KOUN 2023-07-20 12:00:00  -1.928363   2.298133
1     969.0   426.0         26.8      17.8        NaN    NaN    KOUN 2023-07-20 12:00:00        NaN        NaN
2     948.3   609.0          NaN       NaN      220.0   16.0    KOUN 2023-07-20 12:00:00  10.284602  12.256711
3     925.0   821.0         27.4      15.4      220.0   33.0    KOUN 2023-07-20 12:00:00  21.211991  25.279467
4     915.3   914.0          NaN       NaN      225.0   34.0    KOUN 2023-07-20 12:00:00  24.041631  24.041631

In [8]:
df = IAStateUpperAir.request_all_data(date)

C:\Users\jleeman\miniconda3\envs\daily\lib\site-packages\siphon\simplewebservice\iastate.py:137: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.units = {'pressure': 'hPa',

In [9]:
df.head()

   pressure  height  temperature  dewpoint  direction  speed station                time    u_wind    v_wind
0     968.0   386.0         14.0      12.7      290.0    6.0    CWPL 2023-07-20 12:00:00  5.638156 -2.052121
1     964.0   421.0         13.8      12.5        NaN    NaN    CWPL 2023-07-20 12:00:00       NaN       NaN
2     954.0   509.0         17.0      10.0        NaN    NaN    CWPL 2023-07-20 12:00:00       NaN       NaN
3     946.0   580.0         17.2       9.2        NaN    NaN    CWPL 2023-07-20 12:00:00       NaN       NaN
4     942.8   609.0          NaN       NaN      340.0    7.0    CWPL 2023-07-20 12:00:00  2.394141 -6.577848

# IGRA

In [10]:
df_igra = IGRAUpperAir.request_data(date, 'USM00072357')

C:\Users\jleeman\miniconda3\envs\daily\lib\site-packages\siphon\simplewebservice\igra2.py:405: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.units = {'etime': 'second',
C:\Users\jleeman\miniconda3\envs\daily\lib\site-packages\siphon\simplewebservice\igra2.py:443: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.units = {'release_time': 'second',

In [12]:
df_igra[0].head()

   lvltyp1  lvltyp2  etime  pressure  pflag  height  ...  direction  speed                date  u_wind  v_wind  dewpoint
0        2        1    0.0    976.11      2     345  ...        140    1.5 2023-07-20 12:00:00    -1.0     1.1      20.4
1        2        0    9.0    968.91      0     410  ...        231    1.7 2023-07-20 12:00:00     1.3     1.1      17.9
2        2        0   23.0    959.40      0     497  ...        223    5.2 2023-07-20 12:00:00     3.5     3.8      17.1
3        2        0   68.0    931.75      0     756  ...        215   14.6 2023-07-20 12:00:00     8.4    12.0      16.0
4        1        0   77.0    925.00      0     821  ...        218   16.7 2023-07-20 12:00:00    10.3    13.2      15.8

[5 rows x 16 columns]

In [13]:
df = IGRAUpperAir.request_data([date - timedelta(days=1), date], 'USM00072357')

C:\Users\jleeman\miniconda3\envs\daily\lib\site-packages\siphon\simplewebservice\igra2.py:405: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.units = {'etime': 'second',
C:\Users\jleeman\miniconda3\envs\daily\lib\site-packages\siphon\simplewebservice\igra2.py:443: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.units = {'release_time': 'second',

In [14]:
df

(     lvltyp1  lvltyp2  etime  pressure  pflag  height  ...  direction  speed                date  u_wind  v_wind  dewpoint
 0          2        1    0.0    972.61      2     345  ...        180    3.1 2023-07-19 12:00:00    -0.0     3.1      17.9
 1          2        0   14.0    963.65      0     426  ...        194   11.7 2023-07-19 12:00:00     2.8    11.4      15.9
 2          2        0   22.0    958.47      0     474  ...        199   14.7 2023-07-19 12:00:00     4.8    13.9      15.5
 3          2        0   29.0    954.46      0     511  ...        203   17.1 2023-07-19 12:00:00     6.7    15.7      15.1
 4          2        0   45.0    944.09      0     609  ...        210   22.0 2023-07-19 12:00:00    11.0    19.1      14.1
 ..       ...      ...    ...       ...    ...     ...  ...        ...    ...                 ...     ...     ...       ...
 687        3        0    NaN       NaN      0   31000  ...         95   21.1 2023-07-20 12:00:00   -21.0     1.8       NaN
 688        3        0    NaN       NaN      0   31500  ...         75   18.5 2023-07-20 12:00:00   -17.9    -4.8       NaN
 689        3        0    NaN       NaN      0   32000  ...         70   25.2 2023-07-20 12:00:00   -23.7    -8.6       NaN
 690        3        0    NaN       NaN      0   33000  ...         90   18.0 2023-07-20 12:00:00   -18.0    -0.0       NaN
 691        3        0    NaN       NaN      0   34000  ...         90   23.1 2023-07-20 12:00:00   -23.1    -0.0       NaN

 [692 rows x 16 columns],
        site_id  year  month  day  ...  non_pressure_source_code  latitude  longitude                date
 0  USM00072357  2023      7   19  ...                  ncdc-gts   35.1808   -97.4378 2023-07-19 12:00:00
 1  USM00072357  2023      7   20  ...                  ncdc-gts   35.1808   -97.4378 2023-07-20 00:00:00
 2  USM00072357  2023      7   20  ...                  ncdc-gts   35.1808   -97.4378 2023-07-20 12:00:00

 [3 rows x 12 columns])

In [15]:
print(df_wyoming.columns)
print(df_ia.columns)
print(df_igra[0].columns)

Index(['pressure', 'height', 'temperature', 'dewpoint', 'direction', 'speed',
       'u_wind', 'v_wind', 'station', 'station_number', 'time', 'latitude',
       'longitude', 'elevation', 'pw'],
      dtype='object')
Index(['pressure', 'height', 'temperature', 'dewpoint', 'direction', 'speed',
       'station', 'time', 'u_wind', 'v_wind'],
      dtype='object')
Index(['lvltyp1', 'lvltyp2', 'etime', 'pressure', 'pflag', 'height', 'zflag',
       'temperature', 'tflag', 'relative_humidity', 'direction', 'speed',
       'date', 'u_wind', 'v_wind', 'dewpoint'],
      dtype='object')

In [16]:
print(len(df_wyoming))
print(len(df_ia))
print(len(df_igra[0]))

183
192
261