## 307 - Calculating DCAPE with MetPy

[Youtube](https://www.youtube.com/watch?v=zm_L5b4LXZs)

[Sounding Analysis Page - OUN 240123](spc.noaa.gov/exper/soundings/24012300_OBS/)

In [1]:
import metpy.calc as mpcalc
from datetime import datetime
from siphon.simplewebservice.wyoming import WyomingUpperAir
from metpy.units import units, pandas_dataframe_to_unit_arrays

In [2]:
date = datetime(2024, 1, 23)
station = 'NKX'

In [3]:
df = WyomingUpperAir.request_data(date, station)
df.head()

,pressure,height,temperature,dewpoint,direction,speed,u_wind,v_wind,station,station_number,time,latitude,longitude,elevation,pw
0,991.0,137,15.0,14.4,230.0,6.0,4.596267,3.856726,NKX,72293,2024-01-23,32.85,-117.12,137.0,22.87
1,982.0,214,14.0,13.8,228.0,6.0,4.458869,4.014784,NKX,72293,2024-01-23,32.85,-117.12,137.0,22.87
2,940.0,583,12.4,12.4,219.0,8.0,5.034563,6.217168,NKX,72293,2024-01-23,32.85,-117.12,137.0,22.87
3,925.0,718,11.6,11.6,215.0,8.0,4.588611,6.553216,NKX,72293,2024-01-23,32.85,-117.12,137.0,22.87
4,880.0,1134,9.3,9.3,260.0,11.0,10.832885,1.910130,NKX,72293,2024-01-23,32.85,-117.12,137.0,22.87

In [4]:
df = pandas_dataframe_to_unit_arrays(df)

In [5]:
dcape, _, _ = mpcalc.downdraft_cape(df['pressure'], df['temperature'], df['dewpoint'])
dcape

649.9056331832209 <Unit('joule / kilogram')>

In [6]:
print(f'DCAPE at {date:%m/%d %H}Z for station {station} is {dcape:.0f}')

DCAPE at 01/23 00Z for station NKX is 650 joule / kilogram