## 142 - HURDAT2 Hurricane Database

[Youtube](https://www.youtube.com/watch?v=AqZljJ1LsdA)

In [1]:
# Get file at: https://www.nhc.noaa.gov/data/hurdat/hurdat2-1851-2021-041922.txt  (https://www.nhc.noaa.gov/data/)

import pandas as pd
from datetime import datetime

In [2]:
def lat_lon_to_float(v):
    """
    Convert strings from NHC to float locations.
    """
    if (v[-1] == 'S') or (v[-1] == 'W'):
        multiplier = -1
    else:
        multiplier = 1
    return float(v[:-1]) * multiplier

In [3]:
data = []

In [4]:
with open('hurdat2-1851-2021-041922.txt', 'r') as f:
    for line in f.readlines():
        if line.startswith('AL'):
            storm_id = line.split(',')
            storm_number = storm_id[0].strip()
            storm_name = storm_id[1].strip()

        else:
            location_line = line.split(',')
            dt = datetime.strptime(location_line[0] + location_line[1], '%Y%m%d %H%M')
            storm_status = location_line[3].strip()
            storm_lat = lat_lon_to_float(location_line[4].strip())
            storm_lon = lat_lon_to_float(location_line[5].strip())
            data.append([storm_number, storm_name, storm_status, storm_lat, storm_lon, dt])

In [5]:
data[0]

['AL011851',
 'UNNAMED',
 'HU',
 28.0,
 -94.8,
 datetime.datetime(1851, 6, 25, 0, 0)]

In [6]:
df = pd.DataFrame(data, columns = ['Storm Number', 'Storm Name', 'Storm Status', 'Lat', 'Lon', 'Time'])

In [7]:
df.head()

  Storm Number Storm Name Storm Status   Lat   Lon                Time
0     AL011851    UNNAMED           HU  28.0 -94.8 1851-06-25 00:00:00
1     AL011851    UNNAMED           HU  28.0 -95.4 1851-06-25 06:00:00
2     AL011851    UNNAMED           HU  28.0 -96.0 1851-06-25 12:00:00
3     AL011851    UNNAMED           HU  28.1 -96.5 1851-06-25 18:00:00
4     AL011851    UNNAMED           HU  28.2 -96.8 1851-06-25 21:00:00

In [8]:
df.tail()

      Storm Number Storm Name Storm Status   Lat   Lon                Time
53496     AL212021      WANDA           TS  37.4 -37.4 2021-11-07 00:00:00
53497     AL212021      WANDA           TS  38.1 -36.4 2021-11-07 06:00:00
53498     AL212021      WANDA           LO  39.2 -34.9 2021-11-07 12:00:00
53499     AL212021      WANDA           LO  40.9 -32.8 2021-11-07 18:00:00
53500     AL212021      WANDA           LO  43.2 -29.7 2021-11-08 00:00:00

In [9]:
len(df['Storm Number'].unique())

1936

In [10]:
df.groupby('Storm Status').count()

              Storm Number  Storm Name    Lat    Lon   Time
Storm Status
DB                     230         230    230    230    230
EX                    5929        5929   5929   5929   5929
HU                   15272       15272  15272  15272  15272
LO                    1483        1483   1483   1483   1483
SD                     317         317    317    317    317
SS                     692         692    692    692    692
TD                    9753        9753   9753   9753   9753
TS                   19687       19687  19687  19687  19687
WV                     138         138    138    138    138