## 65 - Pandas Unit Helper

[Youtube](https://www.youtube.com/watch?v=o-2s8QaiZUQ)

In [1]:
from datetime import datetime
request_time = datetime(1999, 5, 3, 12)

In [2]:
station = 'OUN'

In [3]:
from siphon.simplewebservice.wyoming import WyomingUpperAir

In [4]:
df = WyomingUpperAir.request_data(request_time, station)

In [5]:
df.head()

,pressure,height,temperature,dewpoint,direction,speed,u_wind,v_wind,station,station_number,time,latitude,longitude,elevation,pw
0,966.0,345,18.2,16.9,180.0,15.0,-1.836970e-15,15.000000,OUN,72357,1999-05-03 12:00:00,35.18,-97.44,345.0,20.54
1,937.2,610,16.8,15.9,190.0,27.0,4.688501e+00,26.589809,OUN,72357,1999-05-03 12:00:00,35.18,-97.44,345.0,20.54
2,925.0,725,16.2,15.5,195.0,31.0,8.023390e+00,29.943701,OUN,72357,1999-05-03 12:00:00,35.18,-97.44,345.0,20.54
3,904.6,914,15.1,14.2,205.0,34.0,1.436902e+01,30.814465,OUN,72357,1999-05-03 12:00:00,35.18,-97.44,345.0,20.54
4,872.6,1219,13.3,12.1,210.0,38.0,1.900000e+01,32.908965,OUN,72357,1999-05-03 12:00:00,35.18,-97.44,345.0,20.54

In [6]:
df.units

{'pressure': 'hPa',
 'height': 'meter',
 'temperature': 'degC',
 'dewpoint': 'degC',
 'direction': 'degrees',
 'speed': 'knot',
 'u_wind': 'knot',
 'v_wind': 'knot',
 'station': None,
 'station_number': None,
 'time': None,
 'latitude': 'degrees',
 'longitude': 'degrees',
 'elevation': 'meter',
 'pw': 'millimeter'}

In [7]:
from metpy.units import pandas_dataframe_to_unit_arrays

In [8]:
sounding = pandas_dataframe_to_unit_arrays(df)

In [9]:
sounding['pressure']

array([966. , 937.2, 925. , 904.6, 872.6, 853. , 850. , 836. , 821. ,
       811.6, 782.3, 754.2, 726.9, 700. , 648.9, 624.6, 601.1, 595. ,
       587. , 576. , 555.7, 534.2, 524. , 500. , 473.3, 400. , 384.5,
       358. , 343. , 308.3, 300. , 276. , 273. , 268.5, 250. , 244.2,
       233. , 200. , 191.8, 190. , 174.2, 168. , 151. , 150. , 144. ,
       130.6, 118.4, 105. , 102.2, 100. ,  97.3,  94.7,  80.6,  76. ,
        73.7,  70. ,  61.8,  50. ,  48.6,  44.1,  34.6,  30. ,  29.9,
        26.4,  21.4,  20. ,  16.9,  16.2,  16.1,  15.4,  13.7,  11.3,
        10.7,  10.2,  10. ,   9.9]) <Unit('hectopascal')>

In [10]:
import pandas as pd
my_data = {'var1': [1, 2, 3], 'var2': [5, 6, 7]}
df = pd.DataFrame(my_data)

In [11]:
df

   var1  var2
0     1     5
1     2     6
2     3     7

In [12]:
my_units = {'var1': 'degC', 'var2': 'meters'}
my_united_data = pandas_dataframe_to_unit_arrays(df, column_units = my_units)

In [13]:
my_united_data

{'var1': array([1, 2, 3]) <Unit('degree_Celsius')>,
 'var2': array([5, 6, 7]) <Unit('meter')>}