## 94 - Pandas Column Cleanup


[Youtube](https://www.youtube.com/watch?v=ncpYohRYG3I)

In [1]:
import pandas as pd

In [2]:
data_url = 'http://www.mesonet.org/data/basic/mesonet/mts/2019/08/17/20190817nrmn.mts'

In [3]:
df = pd.read_csv(data_url, skiprows = 2, delim_whitespace = True)

In [4]:
df.columns

Index(['STID', 'STNM', 'TIME', 'RELH', 'TAIR', 'WSPD', 'WVEC', 'WDIR', 'WDSD',
       'WSSD', 'WMAX', 'RAIN', 'PRES', 'SRAD', 'TA9M', 'WS2M', 'TS10', 'TB10',
       'TS05', 'TS25', 'TS60', 'TR05', 'TR25', 'TR60'],
      dtype='object')

In [5]:
df.drop(['STID', 'STNM', 'WVEC', 'WDSD', 'WSSD', 'WMAX', 'TA9M', 'WS2M', 'TS10', 'TB10', 'TS05', 'TS25', 'TS60', 'TR05', 'TR25', 'TR60'], axis = 'columns', inplace = True)

In [6]:
df.head()

   TIME  RELH  TAIR  WSPD  WDIR  RAIN    PRES  SRAD
0     0    41  35.1   6.4   167   0.0  967.55   193
1     5    41  34.9   6.2   162   0.0  967.56   177
2    10    41  34.8   6.5   159   0.0  967.58   163
3    15    41  34.7   6.0   158   0.0  967.60   151
4    20    41  34.6   6.0   156   0.0  967.60   136

In [7]:
df.columns

Index(['TIME', 'RELH', 'TAIR', 'WSPD', 'WDIR', 'RAIN', 'PRES', 'SRAD'], dtype='object')

In [8]:
name_mapping = {'TIME': 'Time', 'RELH': 'Relative Humidity', 'TAIR': 'Air Temperature', 'WSPD': 'Wind Speed', 'WDIR': 'Wind Direction', 'RAIN': 'Rain', 'PRES': 'Pressure', 'SRAD': 'Solar Radiation', 'STEMP': 'Soil Temperature'}

In [9]:
df.rename(columns = name_mapping, inplace = True)

In [10]:
df.head()

,Time,Relative Humidity,Air Temperature,Wind Speed,Wind Direction,Rain,Pressure,Solar Radiation
0,0,41,35.1,6.4,167,0.0,967.55,193
1,5,41,34.9,6.2,162,0.0,967.56,177
2,10,41,34.8,6.5,159,0.0,967.58,163
3,15,41,34.7,6.0,158,0.0,967.60,151
4,20,41,34.6,6.0,156,0.0,967.60,136

In [11]:
df.columns

Index(['Time', 'Relative Humidity', 'Air Temperature', 'Wind Speed',
       'Wind Direction', 'Rain', 'Pressure', 'Solar Radiation'],
      dtype='object')

In [12]:
df.columns = [col.upper() for col in df.columns]

In [13]:
res = []
for col in df.columns:
	res.append(col.upper())
df.columns = res

In [14]:
df.head()

,TIME,RELATIVE HUMIDITY,AIR TEMPERATURE,WIND SPEED,WIND DIRECTION,RAIN,PRESSURE,SOLAR RADIATION
0,0,41,35.1,6.4,167,0.0,967.55,193
1,5,41,34.9,6.2,162,0.0,967.56,177
2,10,41,34.8,6.5,159,0.0,967.58,163
3,15,41,34.7,6.0,158,0.0,967.60,151
4,20,41,34.6,6.0,156,0.0,967.60,136