## 97 - Pandas Concatenation


[Youtube](https://www.youtube.com/watch?v=rj2ZEAIbg1k)

In [1]:
import pandas as pd

In [2]:
df_inst_1_part_1 = pd.read_csv('inst_1_obs_1.txt')
df_inst_1_part_2 = pd.read_csv('inst_1_obs_2.txt')

In [3]:
df_inst_1_part_1

   TIME  TAIR  RH
0     0    25  70
1    60    28  65
2   120    30  66

In [4]:
df_inst_1_part_2

   TIME  TAIR  RH
0   180    29  66
1   240    28  68
2   300    37  68

In [5]:
df_inst_1 = pd.concat([df_inst_1_part_1, df_inst_1_part_2], ignore_index= True)
df_inst_1

   TIME  TAIR  RH
0     0    25  70
1    60    28  65
2   120    30  66
3   180    29  66
4   240    28  68
5   300    37  68

In [6]:
df_inst_2 = pd.read_csv('inst_2_obs.txt')
df_inst_2

   WINDSPD  WINDDIR
0        5      174
1       10      163
2        8      158
3       15       20
4       23       13
5       28        2

In [7]:
all_obs = pd.concat([df_inst_1, df_inst_2], axis = 'columns')
all_obs

   TIME  TAIR  RH  WINDSPD  WINDDIR
0     0    25  70        5      174
1    60    28  65       10      163
2   120    30  66        8      158
3   180    29  66       15       20
4   240    28  68       23       13
5   300    37  68       28        2