## 169 - Saving Space with Pandas - The One Keyword Argument you are Missing


[Youtube](https://www.youtube.com/watch?v=YYDykZa97dY)

In [1]:
data = 'http://www.mesonet.org/data/public/mesonet/mts/2021/02/08/20210208miam.mts'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(data, skiprows = 2, delimiter = r'\s+')
df.head()

,STID,STNM,TIME,RELH,TAIR,WSPD,WVEC,WDIR,WDSD,WSSD,...,TA9M,WS2M,TS10,TB10,TS05,TS25,TS60,TR05,TR25,TR60
0,MIAM,65,0,95,-3.1,2.7,2.7,40,6.3,0.3,...,-3.3,2.0,3.2,1.1,3.0,4.5,6.5,1.59,1.47,1.41
1,MIAM,65,5,95,-3.1,3.1,3.1,41,5.8,0.4,...,-3.2,2.3,-995.0,-995.0,-995.0,-995.0,-995.0,-995.00,-995.00,-995.00
2,MIAM,65,10,95,-3.0,2.7,2.7,44,6.5,0.4,...,-3.1,2.1,-995.0,-995.0,-995.0,-995.0,-995.0,-995.00,-995.00,-995.00
3,MIAM,65,15,95,-3.0,2.9,2.9,41,5.1,0.4,...,-3.1,2.1,3.2,1.1,3.0,4.5,6.5,-995.00,-995.00,-995.00
4,MIAM,65,20,95,-2.9,2.5,2.5,40,6.6,0.4,...,-3.0,1.9,-995.0,-995.0,-995.0,-995.0,-995.0,-995.00,-995.00,-995.00

In [4]:
df.columns

Index(['STID', 'STNM', 'TIME', 'RELH', 'TAIR', 'WSPD', 'WVEC', 'WDIR', 'WDSD',
       'WSSD', 'WMAX', 'RAIN', 'PRES', 'SRAD', 'TA9M', 'WS2M', 'TS10', 'TB10',
       'TS05', 'TS25', 'TS60', 'TR05', 'TR25', 'TR60'],
      dtype='object')

In [5]:
df.to_csv('data.csv')

In [6]:
df.to_excel('data.xlsx')

In [7]:
df.to_json('data.json')

In [8]:
df.to_pickle('data.pickle')

In [9]:
df.to_csv('data.csv.gz', compression = 'gzip')

In [10]:
df.to_json('data.json.gz', compression = 'gzip')

In [11]:
!dir data.*

data.csv  data.csv.gz  data.json  data.json.gz	data.pickle  data.xlsx

In [12]:
34758/6106

5.692433671798232

In [13]:
72931/16274

4.481442792183851